:root {
  --pink: rgb(248, 23, 117);
  --pink-light: rgba(248, 23, 117, 0.5);
  --grey: rgb(237, 241, 242);
  --grey-dark-hover: rgba(0, 0, 0, 0.75);
  --grey-light-hover: rgba(0, 0, 0, 0.05);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

html h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: row;
}

/* navigation sidebar */

nav {
  border-right: solid 1px var(--grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  box-sizing: border-box;
}

.nav-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-main > h1 {
  font-size: 1.5rem;
}

.title-decor {
  color: var(--pink);
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-items > li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: large;
  padding: 0.5rem;
}

.nav-items > li:hover {
  background-color: var(--grey-light-hover);
  border-radius: 24px;
  cursor: pointer;
}

.nav-pointer {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.active-pointer {
  background-color: var(--pink) !important;
}

.nav-items li:hover .nav-pointer {
  background-color: var(--pink-light);
}

.nav-items img {
  width: 1.75rem;
}

.post-btn {
  border-radius: 24px;
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: bold;
}

.post-btn:hover {
  background-color: var(--grey-dark-hover);
  color: white;
  cursor: pointer;
}

.nav-profile {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.nav-profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.nav-profile .profile-username {
  font-size: smaller;
  color: var(--grey-dark-hover);
}

/* main */
main {
  width: 100%;
}

.main-header {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.main-header button {
  width: 50%;
  background: none;
  border: none;
  border-bottom: solid 1px var(--grey);
  border-right: solid 1px var(--grey);
}

.main-header button:hover {
  background-color: var(--grey-light-hover);
  cursor: pointer;
}

.main-input {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
  width: 100%;
}

.main-input img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.main-input form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.main-input textarea {
  resize: none;
  border-radius: 12px;
  border: solid 1px var(--grey);
  padding: 1rem;
  height: 4rem;
}

.input-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

#char-counter {
  color: var(--grey-dark-hover);
  font-size: smaller;
}

/* post */
#posts-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
}

.post {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: solid 1px var(--grey);
  border-radius: 12px;
  padding: 1rem;
  align-items: start;
}

.post > div {
  width: 100%;
}

.post-username {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post-user-id-name {
  font-weight:normal;
  font-size: smaller;
  color: var(--grey-dark-hover);
}

.post-opts {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.post-opts img {
  width: 1rem;
  height: 1rem;
}

.post-opts-btns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.post-opts button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.comment-btn {
  filter: brightness(0) saturate(100%) invert(15%) sepia(12%) saturate(4132%)
    hue-rotate(118deg) brightness(90%) contrast(102%);
}

.heart-btn {
  filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(5414%)
    hue-rotate(325deg) brightness(100%) contrast(95%);
}
